/* Font Setup */

body {
 font-family: 'Ramabhadra',
  sans-serif;
 box-sizing: border-box;
}

p {
 font-family: 'Lora',
  serif;
 font-size: 1.1em;
 line-height: 1.5em;
 padding: 20px;
}

h1 {
 font-size: 2em;
 text-align: center;
 padding: 20px;
}

h2 {
 font-size: 1.7em;
 text-align: center;
 padding: 20px;
}

a {
 text-decoration: none;
}

/* Navigation Setup */

nav {
 background: lightgray;
 width: 100vw;
 position: fixed;
 z-index: 1;
}

.navlink {
 display: block;
 text-decoration: none;
 color: black;
 padding: 8px 0px 8px 15px;
}

nav input {
 display: none;
}

#navbar_list {
 max-height: 0;
 overflow: hidden;
}

.dropdown-content {
 max-height: 0;
 overflow: hidden;
 background: lightblue;
}

nav input:checked~label {
 color: darkblue;
}

nav input:checked~.dropdown-content,
nav input:checked~#navbar_list {
 max-height: 100%;
}

/* Banner setup */

.parallax_wrapper {
 height: 100vh;
 perspective: 2px;
 overflow-x: hidden;
 overflow-y: auto;
}

.banner {
 position: relative;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 height: 100%;
}

.banner h1,
.banner p {
 color: white;
 font-family: 'Ramabhadra',
  sans-serif;
}

.banner::after {
 content: " ";
 position: absolute;
 top: 0;
 right: 0;
 bottom: 0;
 left: 0;
 background-size: 200vh;
 transform: translateZ(-2px) scale(2);
 z-index: -1;
}

header::after {
 background: url(./images/banners/banner-top.jpg) center no-repeat;
}

#quote::after {
 background: url(./images/banners/banner-quote.jpg) center no-repeat;
}

/* Article setup */

article {
 background: white;
 height: 100vh;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

/* Video setup */

#video {
 display: flex;
 flex-direction: column;
 justify-content: center;
 width: 100vw;
 height: 100vh;
 background: white;
}

#video iframe {
 padding-left: 5%;
 padding-right: 5%;
}

/* Subscription setup */

#subscription {
 display: flex;
 flex-direction: column;
 justify-content: center;
 background: lightgray;
 height: 100vh;
}

#subscription form {
 display: flex;
 flex-direction: column;
 align-items: center;
}

form input,
button {
 text-align: center;
 width: 80%;
 max-width: 500px;
 padding: 10px;
 font-size: 1.1em;
 border-radius: 10px;
}

form input {
 border: 1px solid grey;
}

form button {
 background: transparent;
 border: none;
 font-weight: bold;
 font-size: 1.5em;
}