/* Color Setup */

:root {
 --tractor: #f71735;
 --onyx: #31393c;
 --gold: #ffb330;
 --apricot: #facfad;
 --verdi: #5abcb9;
}

/* Font Setup */

body {
 font-family: 'Ramabhadra',
  sans-serif;
 box-sizing: border-box;
}

p {
 font-family: 'Lora',
  serif;
 font-size: 1.1em;
 line-height: 1.5em;
 padding: 20px;
 color: var(--onyx);
}

h1 {
 font-size: 2em;
 text-align: center;
 padding: 20px;
}

h2 {
 font-size: 1.7em;
 text-align: center;
 padding: 20px;
 color: var(--verdi);
}

a {
 text-decoration: none;
 color: var(--gold);
}

/* Navigation Setup */

nav {
 background: var(--onyx);
 width: 100vw;
 position: fixed;
 z-index: 1;
}

.navlink {
 display: block;
 text-decoration: none;
 color: white;
 padding: 8px 0px 8px 15px;
}

.navlink {
 padding-top: 20px;
 padding-bottom: 20px;
 border-bottom: 0.5px solid var(--apricot);
}

nav input {
 display: none;
}

#navbar_list {
 height: 0;
 overflow: hidden;
 padding-left: 3vw;

}

.dropdown-content {
 height: 0;
 overflow: hidden;
 padding-left: 5vw;
}

nav input:checked~label {
 color: var(--gold);
}

nav input:checked~.dropdown-content {
 height: 100%;
}

nav input:checked~#navbar_list {
 height: 100%;
}

/* Banner setup */

.parallax_wrapper {
 height: 100vh;
 perspective: 1px;
 overflow-x: hidden;
 overflow-y: auto;
}

.banner {
 position: relative;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 height: 100%;
 background: rgba(0, 0, 0, 0.4);
}

.banner h1,
.banner p {
 color: white;
 font-family: 'Ramabhadra',
  sans-serif;
}

.banner::after {
 content: " ";
 position: absolute;
 top: 0;
 right: 0;
 bottom: 0;
 left: 0;
 background-size: 200vh;
 transform: translateZ(-1px) scale(2);
 z-index: -1;
}

header::after {
 background: url(./images/banners/banner-top.jpg) center/cover no-repeat;
}

#quote::after {
 background: url(./images/banners/banner-quote.jpg) center/cover no-repeat;
}

#quote p {
 font-family: 'Lora',
  serif;
 font-size: 1.8em;
}

/* Article setup */

article {
 background: white;
 height: 100vh;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

/* Video setup */

#video {
 display: flex;
 flex-direction: column;
 justify-content: center;
 width: 100vw;
 padding-top: 15vh;
 padding-bottom: 15vh;
 background: white;
}

#video iframe {
 width: 90vw;
 height: 50vh;
 margin: auto;
}

/* Subscription setup */

#subscription {
 display: flex;
 flex-direction: column;
 justify-content: center;
 background: var(--onyx);
 height: 100vh;
}

#subscription p {
 color: white;
 text-align: center;
}

#subscription form {
 display: flex;
 flex-direction: column;
 align-items: center;
}

form input,
button {
 text-align: center;
 width: 80%;
 max-width: 500px;
 padding: 10px;
 font-size: 1.1em;
 border-radius: 10px;
}

form input {
 border: 1px solid grey;
}

form button {
 background: transparent;
 border: none;
 font-weight: bold;
 font-size: 1.5em;
 color: var(--verdi);
}

#honeypot {
 display: none;
}

/* Footer Setup */

footer {
 background: white;
 padding-top: 20px;
 display: flex;
 flex-direction: column;
 align-items: left;

}

footer a,
p {
 color: var(--onyx);
 padding: 0px 20px 20px 20px;
 font-weight: 200;
}

footer p {
 font-size: 0.9em;
}